<nav class="navbar navbar-light bg-white shadow py-4">
    <div class="container-fluid position-relative">
        <a class="navbar-brand" >
            <img src="../../assets/Logo.svg" role="button" routerLink="./upload" alt="logo" class="d-inline-block align-text-top w-75">
        </a>
        <h2 class="text-uppercase fw-bolder position-absolute " 
            style="left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); letter-spacing: 5px;">
            Space Utilization Application
        </h2>
    </div>
</nav>