<div class="container">
    <div class="row ">
        <div class="col-8 mx-auto">
            <div class="card shadow border-0 mt-5 p-3">
                <div class="card-body border-secondary text-center" style="border-style: dashed;">
                    <img src="../../assets/upload.svg" alt="" >
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <button class="btn prevBtn me-3" routerLink="../upload"><span class="material-symbols-outlined align-bottom me-4">undo</span>REUPLOAD ANOTHER VIDEO </button>
            <button class="btn nextBtn ms-3"  routerLink="../result">SUBMIT <span class="material-symbols-outlined ms-4 align-bottom">arrow_right_alt</span></button>
        </div>
    </div>
</div>