<div class="container-fluid">
    <div class="row ">
        <div class="col-6" *ngFor="let item of imagePath; index as i">
            <div class="card shadow border-0 mt-5" >
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <small>Image {{i+1}}</small>
                    <span class="material-symbols-outlined" style="cursor:pointer;" (click)="clearCanvas(i)">
                        replay
                        </span>
                </div>
                <div class="card-body p-0 text-center"  [ngClass]="{'placeholder-wave placeholder' : loadingAnimate}" [style.height]="loadingAnimate ? '50vh' : null" >
                    <!-- <img [src]="item" class="img-fluid" /> -->
                    <canvas id={{i}} (click)="rect($event,i)" #multicanvas></canvas>  
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <button class="btn prevBtn me-3" routerLink="../upload"><span class="material-symbols-outlined align-bottom me-4">undo</span>REUPLOAD ANOTHER VIDEO </button>
            <button class="btn nextBtn ms-3"  routerLink="../result" (click)="submit()">SUBMIT <span class="material-symbols-outlined ms-4 align-bottom">arrow_right_alt</span></button>
        </div>
    </div>
</div>